assignment1/files/
assignment2/files/
.idea/*
nbmodel.txt
nboutput.txt
assignment1/Sample/
assignment2/Sample/
assignment2/per_model.txt
assignment2/per_output.txt
assignment3/labeled_data
assignment3/archive

